
body{
	background: $black;
    
}
h1,h2,h3{
    color: $black;
}
.page{
	background-repeat:no-repeat;
//	-webkit-background-size:cover;
//	-moz-background-size:cover;
//	-o-background-size:cover;
//	background-size:cover;
	background-position:top right;
}
//======================== News Row ======================

.news-row{
    margin-bottom: $column-gutter/2;
    a, h4{
        color: $oil; 
    }
    
    .date{
        font-size: 0.85rem;
    }
    padding: $column-gutter/4;
}
.news-row:hover{
    background-color: $silver;
}

// ======================= Sökruta =======================

.search-box{
    .row{
        div:last-child{ 
        }
    }
    .form-item{
        margin: 0;
    }
    margin-top: 1rem;
    input[type="text"]{
        height: 1.8rem;
        background: #f2f2f2;
    }
    .postfix{
        height: 1.8rem;
        line-height: inherit;
    } 
    .postfix.button.radius{
        border-radius: 0;
    }
    
}



//====================== Undersida ================

.undersida{
    background: $white;
    .views-row-odd{
        background: $silver;   
    }
    .under-row{
        padding-left: $column-gutter/2;
        padding-right: $column-gutter/2;
        padding-top: $column-gutter/2;
    }
}

//===================== filter ====================
.view-filters{
    .views-exposed-form .views-exposed-widget .form-submit{
        margin: 0;
    }
    
}
button, .button {
    padding: $column-gutter/5 $column-gutter/3;
    font-size: 0.8rem;
//    margin: 0
}
.views-exposed-form .views-exposed-widget .form-submit{
    margin: 0;
}
select{
    height: 2.2rem;
}
.pagination-centered{
    margin-top: $column-gutter/2;
    margin-bottom: $column-gutter/2;
    
}
//===================== MOZAIKEN ======================

.front-page-mozaik{
    padding-right: 0;
}
@media only screen and (max-width: 40em) { 
    .front-page-mozaik{
        padding-right: $column-gutter/2;
    }
}
.content-under{
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
    .mozaik{
        .column{
            padding: $column-gutter/4;
        }
    }
    .row{
        margin: 0 ;//$column-gutter/4;
    }
}

.mozaik-front{
    @media only screen and (min-width: 64.063em){ 
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
    @media only screen and (max-width: 40em) { 
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }

    -webkit-column-gap: $column-gutter/2;
    -moz-column-gap: $column-gutter/2;
    column-gap: $column-gutter/2;

}
.mozaik-full-page .view-content{
    @media only screen and (min-width: 64.063em){ 
        -webkit-columns: 4;
        -moz-columns: 4;
        columns: 4;
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
    @media only screen and (max-width: 40em) { 
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }

    -webkit-column-gap: $column-gutter/2;
    -moz-column-gap: $column-gutter/2;
    column-gap: $column-gutter/2;

}
.mozaik{
    .view-content{
        //        Fix för mozilla //        .mozaik-container:last-child, .mozaik-container:first-child{
        .mozaik-container{
            display: inline-block;
        }
        .mozaik-container{
            
            padding-bottom: $column-gutter/2;
            .m_item{
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;  
            }
        }    
    }
    
    .m_item{
        p,h3{
        -o-transition:color .4s ease-in;
        -ms-transition:color .4s ease-in;
        -moz-transition:color .4s ease-in;
        -webkit-transition:color .4s ease-in;
        transition: color .4s ease-in;
        }
    }
    .m_item:hover{
        p,h3{
            color: $primary-color;
        }
    }
    
    @media only screen and (min-width: 40.063em){
        
        .column{
            padding-right: 0;
        }
    }
        
    @media only screen and (max-width: 40em) { 
        .column{
            padding-right: $column-gutter/2;
        }
    }
    .views-row{
        margin-bottom: $column-gutter/2;
    }
    h3{
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: $column-gutter/8;
    }
    a .body p{
        font-size: 0.9rem;
        line-height: 1.3rem;
        margin-bottom: 0;
    }
    a h3, a p{
        color: $body-font-color;  
    }
    a img{
        width: 100%;
        height: auto;
        margin-bottom: $column-gutter/5;
    }
    .tags {
        //    margin-bottom: 0.4rem;
        .item-list{
            ul{
                margin-bottom: 0;
            }

            li{
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: 0.75rem;
                
                a{
                    font-size: 0.75rem;
                    margin-right: 0.2rem;
                    background: $primary-color;
                    padding: 3px 6px;
                    color: $white;
                }
                a:hover{
                    background: $black;
                }
            }
        }
    }
}

.mozaik-tags a{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background: $primary-color;
    color: $white;
    font-size: $paragraph-font-size*0.8;
}
.mozaik-tags a{

}


//==================== Flexslider =====================

.flexslider {
    margin: $column-gutter/2 0 $column-gutter/2 0;
    h2,p, a{
        color: $white;
    }
    p{
        margin-bottom: $column-gutter/3;
    }
    .big-gallery-content{
        width: 45%;
        padding-top: 20px;
        padding-left: 30px;
    }
    .read-more{
//        display: block;
//        width: 100%;
        a{
            background: $black;
            padding: 5px;
            font-size: 0.85rem;
//            text-align: right;
//            display: block;
//            width: 5rem;
        }
        a:hover{
            background: orange;
           
        }
    }
    .gallery-image{
        height: 250px;
    }
}
//================== Startsidans galleri ======================

.l-gallery .frontpage-big-gallery .flexslider{
    background: none;
    border: none;
    margin: 0;
}
.frontpage-big-gallery img{
    //    max-height: 350px;
    //    width: auto;
}

// ===================== Header Svart meny ========================

.l-header-region, .mainmenu{
    background: #000; 
    
}
.kiv-logo{
    text-align: right;
    margin-top: 0.4rem;
}
.kiv-logo img, .kiv-logo-down img{
    width: 140px;
    height: auto;
}
.l-header-region{
    padding: $column-gutter/2 $column-gutter/2 $column-gutter/8 $column-gutter/2;
}
.l-header-region .logo img{
    padding: 0;
    width: 291px;
    height: auto;
}
.kiv-logo-upper{
    text-align: right;
}

.tab-bar .menu-icon span::after {
    box-shadow: 0 0 0 2px #fff, 0 10px 0 2px #fff, 0 20px 0 2px #fff ;
    
}
// =======================================================================
.page-wrapper{
    background: #a7281f;
}
.footer-wrapper{
	color: $white;
	background-size: cover;
	padding-top: $column-gutter;
	padding-bottom: $column-gutter;
	padding-left: $column-gutter/3;
	padding-right: $column-gutter/3;
	background: #000000 url("../images/RePl-backrund.jpg") no-repeat center bottom;
	color: #ffffff;
//    position: relative;
//    bottom: 0;
//    height: 100%;
}
.footer-wrapper{
	h1, h2, h3, h4, h5{
		color: $white;	
	}
}

.l-main,.l-featured, .l-triptych{
	background: $white;
}

.l-main{
	padding-top: $column-gutter/2;
    
}
.mozaik-event{
	padding-top: $column-gutter/2;
	
}
.mozaik-event .views-row-mozaik{
	padding-bottom: $column-gutter/2;
}
.mozaik-event h3{
	font-size: 1.3rem;	
}
.mozaik-event a p{
	color: $body-font-color;	
}
.mozaik-event .mozaik-image{
	margin-bottom: $column-gutter/2;
}
.l-footer{
	text-align: center;		
}
.footer-fourth{
	/*position: relative;*/
	
}
.l-footer-columns-bottom{
	border-top: 1px solid #e5e5e5;
	padding-top: $column-gutter/2;
	margin-top: $column-gutter/2;
}
.l-footer-columns .footer-fourth .block{
	  /*margin-top: $column-gutter*3;*/
		
}
.l-footer-columns-bottom div{
	margin-bottom: $column-gutter/3;
}
.l-footer-columns .footer-fourth .block img{
	width: 28%;
	height: 28%;
	margin-right: 3px;
	margin-left: 3px;
}
.l-footer-columns .footer-first .block img{
	height: auto;
	/*height: 28%;*/
}


.l-footer-columns-bottom p{
	margin: 0;
	line-height: 1.4;
}
.l-featured-i .invisible-plug{
	display: none;
	height: 1rem;
}
.top-bar-section{
	float: right;
}
.sidebar p, .mozaik-event p, .front-right p{
	font-size: $paragraph-font-size*0.9;
	line-height: $paragraph-line-height*0.9;
}


.right-off-canvas-menu{
	/*background: #5a5958;*/
	background: $primary-color;
	padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
    padding-bottom: $column-gutter/2;
    padding-top: 0.3rem;
    width: 12.5rem;
}

.right-off-canvas-menu ul{
	margin-bottom: 0;
	margin-top: 0;
    margin-left: 0;
}
.right-off-canvas-menu ul li ul{
	margin-left: 0;
	margin-top: 0;
    margin-left: 0.5rem;
    line-height: 1rem;
}
.right-off-canvas-menu ul li{
    list-style-type: none;
    padding: 0.6rem 0;
    margin: 0;
    border-bottom: 1px dotted #ffffff;
    text-align: left;
}
.right-off-canvas-menu ul li ul li{
    border-bottom: none;
//    padding: 0;
}
.right-off-canvas-menu li a{
	color: $white;
//	line-height: 0.85rem;
	font-size: 1rem;
	/*font-family:  $font-karla;*/
	font-weight: 300;
	text-transform: uppercase;
}
.right-off-canvas-menu li a:hover{
    text-decoration: underline;   
}
.right-off-canvas-menu ul li li a{
	color: $white;
    text-transform: none;
    font-style: italic;
    font-size: 0.8rem;
//    line-height: 5px !important;
}

/*Blogg*/
.view-blog .views-row{
	margin-bottom: 2rem;
}
.submitted-date {
    border-right: 1px solid #c2c2c2;
	padding-right: 12px;
	padding-bottom: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.submitted-date .day, .submitted-date .month, .submitted-date .year{
	text-align: center;
	display: block;
	text-transform: uppercase;
	color: #898989;
}

.submitted-date .day{
	font-size: 2.2rem;
	line-height: 2rem;
	font-weight: bold;
	letter-spacing: -0.9px;
}
.blog-author{
	color: #898989;
	font-size: 0.7rem;
	line-height: 0.8rem;
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}
.node-blog h2{
	margin: 0;
	font-size: $h2-font-size;
	line-height: $h2-font-size*1.2;
	margin-bottom: 0.2rem;
}
.node-blog h1{
	margin: 0;
	font-size: $h2-font-size;
}

.page-blog #page-title,
.page-blogs #page-title{
	display: none;
}

.node-blog .teaser-readmore{
	background:  $primary-color;
	color: #fff;
	font-weight: 300;
	padding: 6px 8px;
	font-size: 0.7rem;
	text-transform: uppercase;
}
.page-blog .blog-row{
	margin-bottom: $column-gutter;
}


/*Overrides, extra mediaqueries*/

@media only screen and (min-width: 64.063em){ 
	
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	
}
@media only screen and (max-width: 40em) { 
    .tab-bar .menu-icon{
        padding-right: 1rem;
    }
    .kiv-logo{
        margin-top: 0.5rem;
    }

	.submitted-date {
		border: none;
		margin: 0;
		padding: 0;
	}
	.submitted-date .day{
		display: inline-block;
	}	
	.submitted-date .month{
		display: inline-block;
	}
	.submitted-date .year{
		display: inline-block;
	}
	
	.submitted-date .day, .submitted-date .month, .submitted-date .year {
	   font-weight: normal;
	    font-size: 0.8rem;
	    text-align: left;
	}
	 h1,h2,h3,h4,h5,h6 {
         font-weight: 300;
    }
    .l-featured-i .invisible-plug {
        display: none;
    }
    .views-exposed-form .views-exposed-widget{
        padding: 0 0.3rem 0 0;
    }
    button, .button {
        padding: $column-gutter/5 $column-gutter/4;
    }
    .flexslider{
        .gallery-image{
            height: auto;
        }
        
        .big-gallery-content {
            padding: $column-gutter/4 $column-gutter/8; 
            width: 100%;
            background: rgba(167, 40, 61, 0.8);
            p{
                line-height: 1.4rem; 
                text-align: center;
                
            }
            h2{
                font-weight: 500;
                text-align: center;
            }
            .read-more{
                text-align: center;
//                margin-bottom: $column-gutter/4;
                
            }
        }
    }
}

